/*@font-face {
    font-family: 'MerchantCopy'; 
    src: url('MerchantCopy.ttf') format('truetype'); 
}*/

  body {
      font-family: Arial, sans-serif;
      margin: 20px;
  }

  #logo {
    /*position: absolute;*/
    top: 10px; /* Ajusta según sea necesario */
    left: 10px; /* Ajusta según sea necesario */
    width: 100px; /* Ajusta según sea necesario */
    height: auto;
    margin-bottom: 20px;
  }

  .menu-section {
      float: left;
      margin-right: 20px;
      display: none; 
  }

  .item {
      cursor: pointer;
      padding: 10px;
      margin-bottom: 5px;
      background-color: #f2f2f2;
      border: 1px solid #ccc;
  }

  .tabs {
      margin-bottom: 10px;
  }

  .tab {
      cursor: pointer;
      padding: 10px;
      background-color: #ddd;
      border: 1px solid #ccc;
      display: inline-block;
      margin-right: 5px;
  }

  .tab-content {
      clear: both;
  }

  #boleta {
      border: 1px solid #ccc;
      padding: 10px;
      clear: both;
  }

  #pedido-list {
      list-style: none;
      padding: 0;
  }
  .mesa-tabs {
      margin-bottom: 10px;
  }

  .mesa-tab {
      cursor: pointer;
      padding: 10px;
      background-color: #ddd;
      border: 1px solid #ccc;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 3px;
  }        

  .mesa-tab-selected {
  border: 2px solid #000000; 
 }

 .tab-selected {
      border: 2px solid #000000;
  }
